@import "tailwindcss";

@theme {
  --animate-fadein: fadein 1s linear;

  @keyframes fadein {

    0%,
    100% {
      opacity: 1;
    }

    5% {
      opacity: 0;
    }
  }

  --animate-blink: blink 1s steps(2) infinite;

  @keyframes fadein {

    0%,
    100% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }
}
